<form id="addAddressForm" #addAddressForm="ngForm" class="col s12" (ngSubmit)="onSubmit()">
    <!--Header-->
    <form-header>

    </form-header>

    <!--Body-->
    <form-body>
        <div class="md-form form-sm">
            <i class="fa fa-info prefix"></i>
            <!-- <input [mdbActive]="mode.add" [disabled]="mode.view" id="accountType" name="accountType" type="text" class="validate form-control"
                required minlength="1" maxlength="6" [(ngModel)]=entity.accountType #accountType="ngModel"> -->
            <!-- Switch -->
            <div class="switch">
                <label>
                    Master
                    <input [mdbActive]="mode.add" [disabled]="mode.view" id="accountType" name="accountType" class="validate form-control" [(ngModel)]=entity.accountType
                        #accountType="ngModel" type="checkbox">
                    <span class="lever"></span>
                    Child
                </label>
            </div>
            <div *ngIf="accountType.errors && (accountType.dirty || accountType.touched)">
                <div [hidden]="!accountType.errors.required">
                    <small class="text-danger">Account Type is required.</small>
                </div>
                <div [hidden]="!accountType.errors.minlength">
                    <small class="text-danger">Account Type must be at least 1 characters long.</small>
                </div>
                <div [hidden]="!accountType.errors.maxlength">
                    <small class="text-danger">Account Type cannot be more than 5 characters long.</small>
                </div>
            </div>
        </div>
        <br>
        <div class="md-form form-sm">
            <i class="fa fa-info prefix"></i>
            <input [mdbActive]="mode.add" [disabled]="mode.view" id="username" name="username" type="text" class="validate form-control"
                required minlength="6" maxlength="10" [(ngModel)]=entity.username #username="ngModel">
            <label for="username">Username</label>
            <div *ngIf="username.errors && (username.dirty || username.touched)">
                <div [hidden]="!username.errors.required">
                    <small class="text-danger">Username is required.</small>
                </div>
                <div [hidden]="!username.errors.minlength">
                    <small class="text-danger">Username must be at least 6 characters long.</small>
                </div>
                <div [hidden]="!username.errors.maxlength">
                    <small class="text-danger">Username cannot be more than 10 characters long.</small>
                </div>
            </div>
        </div>
        <br>
        <div class="md-form form-sm">
            <i class="fa fa-info prefix"></i>
            <input [mdbActive]="mode.add" [disabled]="mode.view" id="mobileNumber" name="mobileNumber" type="text" class="validate form-control"
                required minlength="10" maxlength="10" [(ngModel)]=entity.mobileNumber #mobileNumber="ngModel">
            <label for="mobileNumber">Mobile Number</label>
            <div *ngIf="mobileNumber.errors && (mobileNumber.dirty || mobileNumber.touched)">
                <div [hidden]="!mobileNumber.errors.required">
                    <small class="text-danger">Mobile Number is required.</small>
                </div>
                <div [hidden]="!mobileNumber.errors.minlength">
                    <small class="text-danger">Mobile Number must be at least 10 characters long.</small>
                </div>
                <div [hidden]="!mobileNumber.errors.maxlength">
                    <small class="text-danger">Mobile Number cannot be more than 10 characters long.</small>
                </div>
            </div>
        </div>
        <br>
        <div class="md-form form-sm">
            <i class="fa fa-info prefix"></i>
            <input [mdbActive]="mode.add" [disabled]="mode.view" id="emailId" name="emailId" type="email" class="validate form-control"
                required minlength="5" maxlength="40" [(ngModel)]=entity.emailId #emailId="ngModel">
            <label for="emailId">E-Mail Id</label>
            <div *ngIf="emailId.errors && (emailId.dirty || emailId.touched)">
                <div [hidden]="!emailId.errors.required">
                    <small class="text-danger">E-Mail Id is required.</small>
                </div>
                <div [hidden]="!emailId.errors.minlength">
                    <small class="text-danger">E-Mail Id must be at least 5 characters long.</small>
                </div>
                <div [hidden]="!emailId.errors.maxlength">
                    <small class="text-danger">E-Mail Id cannot be more than 40 characters long.</small>
                </div>
            </div>
        </div>
        <br *ngIf="mode.add">
        <div *ngIf="mode.add" class="md-form form-sm">
            <i class="fa fa-info prefix"></i>
            <input [mdbActive]="mode.add" [disabled]="mode.view" id="password" name="password" type="password" class="validate form-control"
                required minlength="6" maxlength="20" [(ngModel)]=entity.password #password="ngModel">
            <label for="password">Password</label>
            <div *ngIf="password.errors && (password.dirty || password.touched)">
                <div [hidden]="!password.errors.required">
                    <small class="text-danger">Password is required.</small>
                </div>
                <div [hidden]="!password.errors.minlength">
                    <small class="text-danger">Password must be at least 6 characters long.</small>
                </div>
                <div [hidden]="!password.errors.maxlength">
                    <small class="text-danger">Password cannot be more than 20 characters long.</small>
                </div>
            </div>
        </div>
        <br>
        <div class="md-form form-sm">
            <i class="fa fa-info prefix"></i>
            <input [mdbActive]="mode.add" [disabled]="mode.view" id="masterCredentialId" name="masterCredentialId" type="text" class="validate form-control"
                minlength="1" maxlength="5" [(ngModel)]=entity.masterCredentialId #masterCredentialId="ngModel">
            <label for="masterCredentialId">Master Credential Id</label>
            <div *ngIf="masterCredentialId.errors && (masterCredentialId.dirty || masterCredentialId.touched)">
                <div [hidden]="!masterCredentialId.errors.minlength">
                    <small class="text-danger">Master Credential Id must be at least 1 characters long.</small>
                </div>
                <div [hidden]="!masterCredentialId.errors.maxlength">
                    <small class="text-danger">Master Credential Id cannot be more than 5 characters long.</small>
                </div>
            </div>
        </div>
        <br>
    </form-body>

    <!--Footer-->
    <form-footer>
        <div class="md-form">
            <button *ngIf="mode.add || mode.update" [disabled]="!addAddressForm.valid" type="submit" class="btn btn-primary" ripple-radius>{{mode.operation}}</button>
        </div>
    </form-footer>
</form>